<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <title>TODO</title>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/tasks/index}">Все</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/done}">Выполненные</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/new}">Новые</a>
                </div>
            </div>
            <div class="d-flex" th:if="${user.name == 'Гость'}">
                <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
                <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
            </div>
            <div class="d-flex" th:if="${user.name != 'Гость'}">
                <a class="nav-link text-secondary me-3" href="#" th:text="${user.name}"></a>
                <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
            </div>
        </div>
    </nav>
    <div class="container" >
           <div class="col-6"><a class="btn btn-primary" th:href="@{/tasks/create}">Добавить задание</a></div>
    </div>

    <div class="container mt-2">
        <h5>Все задания</h5>
    </div>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Задача</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Приоритет</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Время создания</th>
                    <th scope="col">Состояние</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.id}"/>
                    <td><a th:text="${task.description}" th:href="@{/tasks/{id}(id=${task.id})}"></a></td>
                    <td th:text="${task.user.getName}"/>
                    <td th:text="${task.priority.getPosition}"/>
                    <td>
                        <th:block th:each="category: ${task.getCategories}">
                            <span th:text="${category.name}"></span>
                        </th:block>
                    </td>
                    <td th:text="${#temporals.format(task.created, 'dd-MM-yyyy HH:mm')}" />
                    <td>
                    <div th:switch="${task.done}">
                        <p th:case="true">Выполнено</p>
                        <p th:case="false">Не выполнено</p>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>